@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab:wght@700&display=swap");

:root {
  /* Valorant Theme Colors */
  --clr-primary-1: #c1272d;
  --clr-primary-2: #009b3a;
  --clr-secondary-1: #ffd700;
  --clr-secondary-2: #ff7f00;
  --clr-secondary-3: #c9a66b;
  --clr-secondary-4: #b8ebd0;
  /* Base Colors */
  --clr-black: #000000;
  --clr-white: #ffffff;
  /* Gray shades */
  --clr-grey-1: hsl(207, 11%, 20%);
  --clr-grey-2: hsl(210, 22%, 49%);
  /* Font Family Variables */
  --ff-primary: Roboto Slab, sans-serif;
  --ff-secondary: Montserrat, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--ff-secondary);
  background-color: var(--clr-grey-1);
  color: var(--clr-black);
  min-height: 100vh;
  text-align: center;
  overflow-x: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.88), rgba(255, 217, 0, 0.627)),
    url(../images/background.webp) center/cover no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--clr-secondary-2);
  font-family: var(--ff-primary);
  font-size: 4vh;
}

p {
  color: var(--clr-white);
}

.game-container {
  border: solid 1px red;
  display: flexbox;
  justify-content: center;
  background-attachment: fixed;
  width: 80%;
  max-width: 1200px;
  margin: auto;
  height: auto;
  padding: 2em;
  background-color: rgba(0, 0, 0, 0.54);
}

.game-container h1 {
  margin-top: 1vh;
}

.start-container {
  border: solid 2px blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  padding: 1em;
  margin-top: 5vh;
}

.start-container h2 {
  margin-top: 0;
}

.start-container p {
  text-align: center;
  max-width: 90%;
  margin: 0;
  font-size: small;
}

.start-container button {
  margin-top: 3vh;
  padding: 0.5em 1em;
  font-size: 1rem;
  cursor: pointer;
}
